:root {
  --primary-color: #35794B;
  --secondary-color: #A6CE95;

  --font-green: hsl(99, 75%, 10%);
  --font-black: #1A1A1A;
  --font-black-variant: #333333;

  --white: #F2F2F2;
  --off-white: #E5E5E5;
  --neutral-green: #E0EFDD;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
